<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Toggle Input</title>
    <style>
        .hidden {
          display: none;
        }
    </style>
</head>
<body>

<input id="textInput" type="text">
<button onclick="toggleInput()">Toggle Input</button>
<input id="toggleCheckbox" onchange="toggleInput()" type="checkbox"> Toggle Input

<script>
    function toggleInput() {
      var textInput = document.getElementById('textInput');
      var toggleCheckbox = document.getElementById('toggleCheckbox');

      if (toggleCheckbox.checked) {
        textInput.style.display = 'none'; // приховує поле вводу
      } else {
        textInput.style.display = 'block'; // відображає поле вводу
      }
    }
</script>
</body>
</html>